@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather Sans', sans-serif;
    background: url(img/fondocv.png);
    background-size: cover;

}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #f9f9f9;
}

h1 {
    color: #fffffc;
    margin: 16px 0;
    font-weight: 800;
}

h3 {
    margin: 8px 0;
    font-weight: 500;
}


img {
    max-width: 100%;
    height: auto;
    margin-top: 16px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px auto 80px;
    width: 80%;
    margin: 0 auto;
}

header {
    background: black;
    grid-column-start: span 3;

}

.logo h2{
    color: #DC3C68;
    font-size: 26px;
}


span { 
        color: #FFCD05;
}


.blog-post h1 {
    color: #202020;
}

.blog-post a {
    color: dodgerblue;
}

.blog-post {
    padding: 32px;
}

main {
    background-color: #fffffc;
    grid-column-start: span 3;
    border-left: 7px dotted black;
    border-right: 7px dotted black;

}

footer {
    background-color: black;
    color: white;
    grid-column-start: span 3;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}


header {
    line-height: 100px;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;

}

nav ul li {
    display: inline;
    padding: 0 16px;
}

nav ul li a {
    color: white;
}

.mobile {
    display: none;
}
.show {
    display: block;
}

@media (max-width:768px) {
    nav{
        position: relative;
    }
    nav ul {
        display: none;
        width: 100%;
        background-color: grey;
        position: absolute;
        top:100px;
        height:40vh;
        text-align: center;
    }
    nav ul li{
        display: block;
    }
    nav ul li a{
        color:#fffffc;
    }

    a.mobile {
        color: #202020;
        font-size: 32px;
        display: block;
    }

    
}


@media (max-width:576px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 100px auto auto auto;
    }

    header,
    aside,
    main,
    footer {
        grid-column-start: span 4;
    }
}


@media (max-width:768px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 100px auto auto auto;
    }

    header,
    aside,
    main,
    footer {
        grid-column-start: span 4;
    }
}